<div>
  <h1><%= "Bookmark a movie to #{@list.name}"%></h1>
</div>
<div>
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>
</div>
